/*---------------------- RESET ----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0;
  /* font-size: 100%; */
}
html {
  height: -webkit-fill-available;
  /* font-size: 62.5%; */
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-size: 100%;
  /* font-size: 160%; */
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  max-width: 100%;
  display: block;
}
ol[class],
ul[class] {
  list-style: none;
  padding-inline-start: unset;
  margin: 0;
}
